# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Antymology.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Program Files\Unity\Unity Projects\Antymology\.idea\.idea.Antymology\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
